#POP_area,
#MinT_area,
#wx_area,
#CI_area,
#maxT_area{
  // background-color: grey;  // for dev
  border-radius: 5px;
  .area_wrapper {
  
    .area_section {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1rem;
      position: relative;
      transition: all .3s;
      cursor: pointer;
      .area_time{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .area_starTime {
        font-weight: 900;
        font-size: 24px;
      }
      .area_rating {
        width: 33.33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        span:nth-child(1){
          white-space: nowrap;
        }
      }
      &::after{
        content: '';
        width: 100%;
        height: 50%;
        display: block;
        position:absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, white,  transparent);
      }
      &:hover{
        box-shadow: 0px 4px 15px rgb(0 0 0 / 70%);
      }
    }
  }


}