#POP_area{
  background-color: grey;  // for dev

  .POP_area_wrapper {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .POP_area_section {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1rem;
      .POP_area_time{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .POP_area_rating {
        width: 33.33%;
        text-align: center;
      }
    }
  }


}