$main_color: #85cdca;
$main_color--dark: #40b3a2;
$sub_color: #e8a87c;
$sub_color--dark: #e27d5f;
$third_color: #c38d9d;
$default_text_color: #212529;

$color_rain: #1a67b1;
$color_sun: #ffc107;
$color_clound: #cccccc;